* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper > div {
  border: 1px dashed red;
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 50px;
}

.counter > h2 {
  font: 28px;
}

input {
  display: block;
  padding: 5px;
  margin: 10px auto;
}

@media (max-width: 767px) {
  .wrapper > div {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
